/* 页面整体 */
body {
    margin: auto;
    max-width: 800px;
    font-size: 20px;
    font-family: Helvetica, Arial, sans-serif;
}

/* 页脚 */
footer {
    color: #888;
    margin-top: 300px;
    text-align: center;
    padding: 10px;
    /* position: absolute;
    bottom: 0; */
}

/* 头像 */
.avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* 电影列表 */
.movie-list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 30px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.movie-list li {
    font-size: 18px;
    padding: 12px 24px;
    border-bottom: 1px solid #ddd;
}

.movie-list li:last-child {
    border-bottom: none;
}

.movie-list li:hover {
    background-color: #f8f9fa;
}

/* 龙猫图片 */
.totoro {
    display: block;
    margin: 0 auto;
    height: 100px;
}

.submit {
    font-size: 22px;
    /* font-weight: bold;
    color: white;
    text-decoration: none;
    background: rgb(102, 18, 130);
    border-radius: 5px;
    padding: 0px 0px; */
}